
## <summary>policy for mocha</summary>


########################################
## <summary>
##	Transition to mocha.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`mocha_domtrans',`
	gen_require(`
		type mocha_t, mocha_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, mocha_exec_t, mocha_t)
')


########################################
## <summary>
##	Execute mocha server in the mocha domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`mocha_initrc_domtrans',`
	gen_require(`
		type mocha_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, mocha_initrc_exec_t)
')


########################################
## <summary>
##	Search mocha lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`mocha_search_lib',`
	gen_require(`
		type mocha_var_lib_t;
	')

	allow $1 mocha_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read mocha lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`mocha_read_lib_files',`
	gen_require(`
		type mocha_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, mocha_var_lib_t, mocha_var_lib_t)
')

########################################
## <summary>
##	Manage mocha lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`mocha_manage_lib_files',`
	gen_require(`
		type mocha_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, mocha_var_lib_t, mocha_var_lib_t)
')

########################################
## <summary>
##	Manage mocha lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`mocha_manage_lib_dirs',`
	gen_require(`
		type mocha_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, mocha_var_lib_t, mocha_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a mocha environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`mocha_admin',`
	gen_require(`
		type mocha_t;
		type mocha_initrc_exec_t;
		type mocha_var_lib_t;
	')

	allow $1 mocha_t:process { ptrace signal_perms };
	ps_process_pattern($1, mocha_t)

	mocha_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 mocha_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, mocha_var_lib_t)

')

